/* V1.8 */
.Button {
    text-align: center;
    border-radius: 1.4rem!important;
    padding: 8px 26px!important;
    font-size: 13px!important;
    vertical-align: middle!important;
    border: none!important;
    letter-spacing: 1px;
}
h2 {
    margin-bottom: 35px!important;
}
.ProductSummary .ProductItemDetails>div .HighlightedText {
    font-size: 18px!important;
    font-weight: 600!important;
}
.ContentStack div p {
    margin-top: 15px!important;
}
span.FontNormal {
    font-size: 16px!important;
}
.ProductSummary .ProductItemDetails>div .PriceStrike span {
    color: #888!important;
}
/*Contenedor REP*/
.AvonFormContainer {
    background: whitesmoke!important;
    border: 0!important;
    padding: 15px 0 !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #d2d2d2!important;
}
#FindByLocation .FormField {
    border-right: 1px solid white;
    margin-left: 10%!important;
    display: inline-block!important;
    padding-right: 13%!important;
}
form#FindByLocation {
    display: inline-block!important;
    width: 45%!important;
}
#FindByLocation .FormField label, #FindByLocation .FormField div {
    display: block!important;
}
form#FindByLocation * {
    color: black!important;
    font-style: normal;
    float: none!important;
    font-family: Arial,Gotham,"Helvetica Neue",Helvetica,sans-serif!important;
    font-size: 16px!important;
}
.InputWithIcon {
    margin-left: 0!important;
    margin-top: 12px!important;
}
.AlreadyKnow {
    margin-left: 4% !important;
    display: inline-block !important;
    color: #ec008c !important;
    margin-top: 15px !important;
    vertical-align: top!important;
}
.AlreadyKnow p {
    color: black!important;
    text-decoration: none!important;
    font-family: Arial,Gotham,"Helvetica Neue",Helvetica,sans-serif!important;
    font-style: normal!important;
    font-size: 18px!important;
}
/*FOOTER*/
div#FooterShadow:after {
    display: none!important;
}
.Layout_Desktop footer {
    border: none!important;
}
div#SubscribeBar {
    padding: 25px 0!important;
    background: #eee!important;
    max-width: 100%!important;
    border-bottom: 2px solid #c3c3c3!important;
    text-align: center;
}
div#SubscribePanel {
    max-width: 50%!important;
    width: 45%!important;
    display: inline-block!important;
    padding: 0!important;
}
div#ContactUsPanel {
    display: none!important;
}
div#ContactUsPanel a {
    display: inline-block !important;
    text-align: center!important;
    width: 110%!important;
    border: none!important;
    padding: 0!important;
    background: black !important;
}
#ContactUsPanel a svg-icon {
    display: none!important;
}
div#ContactUsPanel a span {
    text-align: center !important;
    font-weight: 600 !important;
    color: white !important;
    padding: 11px 7px !important;
    display: inline-block!important;
}
div#SubscribeInput {
    background: white!important;
    border: 1px solid black!important;
}
div#SubscribeFormLabel label span {
    display: block!important;
    font-weight: 600!important;
    color: black!important;
    padding-right: 15p!important;
}
/*Find a Rep*/
#FindARep .AvonFormContainer #FindByNameOrContact label {
    color:black!important;
}

#FindARep div#FindByNameOrContact a {
    color: #ec008c;
    margin-top: 8px;
}
/*Footer*/

/*Columnasfooter*/
div#FooterColumns {
    max-width: 85%!important;
    padding-top: 45px!important;
    margin: 0 auto!important;
}
div#FooterColumns div#FooterSocialMediaColumn {
    width: 15%!important;
}
div#FooterSocialMediaColumn nav {
       margin-bottom: 5px;
       text-align: center;
}
.Layout_Desktop footer #FooterColumns>div#FooterSocialMediaColumn a {
    display: inline-block!important;
}
span.SocialText {
    display: none!important;
}
.ConnectIcon svg-icon {
    margin-right: 11px!important;
}
#FooterSocialMediaColumn svg-icon {
    background: #ec008c!important;
}
#FooterColumns h3 {
    padding-bottom: 20px!important;
}
div#FooterColumns>div {
    position: relative !important;
    border: none!important;
    vertical-align: top!important;
    display: inline-block!important;
    padding: 0 2%!important;
    width: 25%!important;
    border-right: 1px solid #ec008c!important;
}
div#FooterColumns>div:nth-child(4) {
    border-right: none!important;
}
.ColumnsContainerFAR .RightColumnFAR {
    position: relative!important;
}
.RightColumnFAR .FormButton .Button {
    border-radius: 0 1.4rem 1.4rem 0!important;
    padding: 11.5px!important;
}
.FARRepWidget, .BARRepWidget {
    background: none!important;
    border: none!important;
    padding: 0!important;
    margin-bottom: 15px!important;
    width: auto!important;
    max-width: none!important;
}
.FARRepWidget input#InputPostcode {
    border-radius: 0!important;
    margin: 9px auto!important;
    width: 200px!important;
    background: white!important;
    border: 1px solid black!important;
    text-align: left!important;
    padding-left: 15px!important;
}
.BARRepWidget .BecomeARepForm .FormButton {
    float: none!important;
    text-align: left!important;
}
.BARRepWidget .BecomeARepForm p {
    margin-bottom: 20px;
}
form#FindARepForm h2, .BecomeARepForm h2 {
    margin-bottom: 2px!important;
}
div#FooterRepColumn {
    padding: 0!important;
    /*width: 35%!important;*/
}
div#CopyrightBar {
    max-width: 100%!important;
}
/*Products Detail*/
#ProductDetailContainer .ProductInformation {
    background: whitesmoke;
    padding: 3%!important;
}
#ProductDetailContainer .ProductDetails>div {
    display: inline-block!important;
    width: 45%!important;
    vertical-align: top;
    margin-right: 4%;
}
#ProductNameAndRating h1.ProductName {
    font-size: 20px!important;
    line-height: 29px!important;
    font-family: Arial,Gotham,"Helvetica Neue",Helvetica,sans-serif!important;
}
.ProductInformation .ProductDetails .Prices .ListPrice {
    color: #808080;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5%;
}
.ProductInformation .ProductDetails .Prices .Price {
    font-size: 25px;
    font-weight: 600;
    color: #ec008c;
    display: inline-block;
}
.ProductInformation .ProductDetails .ListPrice span:nth-child(2) {
    display: none!important;
}

#ProductDetailContainer #ProductDetailForm .ProductInformation .ProductDetails {
    padding-left: 3rem;
}
#ProductDetails .ProductActions {
    margin-top:0;
}
#ProductDetailContainer .ProductActions a.Button span {
    font-size: 15px!important;
}
.ProductActions .SelectionRepeat .Selection .select2-choice {
    border-radius: 1.4rem!important;
}
.bv_stars_component_container button svg {
    max-width: 15px!important;
}
.bv_stars_button_container svg:not(:last-child) {
    padding-right: 8px!important;
}
.bv_button_component_container button {
    margin-top: 25px!important;
}
.SelectionRepeat .Selection>a {
    background: white!important;
}
#ProductDetails .ProductActions .AddToCart .Quantity {
    margin:0 auto!important;
}
#ProductDetails .ProductActions .AddToCart .Button {
    text-align: center;
    display: table;
    margin: 15px auto;
}
div#ProductDetailContainer #ProductDescription >div:nth-child(1) .nav a {
    background: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}
div#ProductDetailContainer #ProductDescription #reviews .bv-header .bv-action-bar h2 {
    font-size: 18px!important;
    letter-spacing: 1px!important;
    text-transform: uppercase!important;
    font-weight: 500!important;
}
/*Fin Product Detail*/
/*Reseñas*/
div#ProductDescription .tab-content .tab-pane p {
    line-height: 2.5rem;
    letter-spacing: 0.02rem;
}
/*Media query*/
@media (max-width: 768px) {
    #ProductDetailContainer .ProductDetails>div {
    display: block!important;
    width: 100%!important;
    }
    .Layout_Phone #ProductDetails .Prices {
        text-align: center;
    }
    #ProductDetails .ProductActions {
        margin-top: 0;
    }
}
@media (max-width: 1074px) {
  div#FooterColumns>div {
    display: inline-block!important;
    }
  #container {
    width: auto!important;
    }
}
@media (max-width: 1024px) {
    /*Contenido*/
.RightColumnFAR .FormButton .Button, .LeftColumnBAR .FormButton .Button {
    font-size: inherit!important;
    text-align: left!important;
    padding: 5%!important;
    height: auto!important;
    }
.ContentStack div p {
    line-height: 21px!important;
    }
.ContentModule {
    margin-top: 25px!important;
    }
span.FontNormal {
    display: inline-block!important;
    }
    div#FooterColumns {
    padding-top: 15px !important;
    }
    div#FooterColumns>div {
    width: 100%!important;
    }
    .FARRepWidget {
    width: 100%!important;
    }
    .FARRepWidget .Button {
    width: 100%;
    margin: 0!important;
    padding: 3%!important;
    }
    div#SubscribePanel {
    max-width: none!important;
    margin: 0 3%!important;
    width: auto!important;
    }
    .bucket-pac {
    height: auto!important;
    }
    .bucket-pac .button-pac {
    position: unset!important;
    display: inline-block!important;
    margin: 0 auto!important;
}
#FooterSocialMediaColumn, #FooterRepColumn {
    margin-top: 30px!important;
    }
}