/* V.1.2.3 */

.Button {
    text-align: center;
    border-radius: 1.4rem;
    padding: 8px 26px;
    font-size: 13px;
    vertical-align: middle;
    border: none;
    letter-spacing: 1px;
    border: 1px solid transparent;
}

h2 {
    margin-bottom: 35px;
}

.ProductSummary .ProductItemDetails>div .HighlightedText {
    font-size: 18px;
    font-weight: 600;
}

.ContentStack div p {
    margin-top: 15px;
}

span.FontNormal {
    font-size: 16px;
}

.ProductSummary .ProductItemDetails>div .PriceStrike span {
    color: #888;
}

/*Contenedor REP*/

.AvonFormContainer {
    background: whitesmoke!important;
    border: 0;
    padding: 15px 0 ;
    border-radius: 0 ;
    border-bottom: 2px solid #d2d2d2;
    table-layout: inherit;
}

#FindByLocation .FormField {
    border-right: 1px solid white;
    margin-left: 10%;
    display: inline-block;
    padding-right: 13%;
}

form#FindByLocation {
    display: inline-block;
    width: inherit;
}

#FindByLocation .FormField label, #FindByLocation .FormField div {
    display: block;
}

form#FindByLocation * {
    color: black;
    font-style: normal;
    float: none;
    font-family: Arial,Gotham,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px;
}

.InputWithIcon {
    margin-left: 0;
    margin-top: 12px;
}

.AlreadyKnow {
    margin-left: 4% ;
    display: inline-block ;
    color: #ec008c ;
    margin-top: 15px ;
    vertical-align: top;
}

.AlreadyKnow p {
    color: black;
    text-decoration: none;
    font-family: Arial,Gotham,"Helvetica Neue",Helvetica,sans-serif;
    font-style: normal;
    font-size: 18px;
}
.AlreadyKnow a {
    color: #ec008c!important;
}

/*FOOTER*/

footer div#FooterShadow {
    display: none!important;
}

.Layout_Desktop footer {
    border: none;
}

footer div#SubscribeBar {
    padding: 25px 0!important;
    background: #eee!important;
    max-width: 100%!important;
    border-bottom: 2px solid #c3c3c3!important;
    text-align: center!important;
}

footer div#SubscribePanel {
    max-width: 50%!important;
    width: 45%!important;
    display: inline-block!important;
    padding: 0!important;
}

footer div#ContactUsPanel {
    display: none!important;
}

footer div#ContactUsPanel a {
    display: inline-block!important ;
    text-align: center;
    width: 110%!important;
    border: none;
    padding: 0;
    background: black ;
}

#ContactUsPanel a svg-icon {
    display: none!important;
}

div#ContactUsPanel a span {
    text-align: center ;
    font-weight: 600 ;
    color: white ;
    padding: 11px 7px ;
    display: inline-block;
}

div#SubscribeInput {
    background: white;
    border: 1px solid black;
}

div#SubscribeFormLabel label span {
    display: block;
    font-weight: 600;
    color: black;
    padding-right: 15p;
}

/*Find a Rep*/

#FindARep .AvonFormContainer #FindByNameOrContact label {
    color: black;
}

#FindARep div#FindByNameOrContact a {
    color: #ec008c;
    margin-top: 8px;
}

/*Footer*/

/*Columnasfooter*/

div#FooterColumns {
    max-width: 85%;
    padding-top: 45px;
    margin: 0 auto;
}

div#FooterColumns div#FooterSocialMediaColumn {
    width: 15%;
}

div#FooterSocialMediaColumn nav.ng-scope {
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.Layout_Desktop footer #FooterColumns>div#FooterSocialMediaColumn a {
    display: inline-block;
}

span.SocialText {
    display: none!important;
}

.ConnectIcon svg-icon {
    margin-right: 11px;
}

#FooterSocialMediaColumn svg-icon {
    background: #ec008c;
}

#FooterColumns h3 {
    padding-bottom: 20px;
}

div#FooterColumns>div {
    position: relative ;
    border: none;
    vertical-align: top;
    display: inline-block;
    padding: 0 2%;
    width: 25%;
    border-right: 1px solid #ec008c;
    min-height: 250px;
}

div#FooterColumns>div:nth-child(4) {
    border-right: none;
}

.ColumnsContainerFAR .RightColumnFAR {
    position: relative!important;
}

.RightColumnFAR .FormButton .Button {
    border-radius: 0 1.4rem 1.4rem 0;
    padding: 11.5px;
}

.FARRepWidget, .BARRepWidget {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 15px;
    width: auto;
    max-width: none;
}

.FARRepWidget input#InputPostcode {
    border-radius: 0;
    margin: 9px auto;
    width: 200px;
    background: white;
    border: 1px solid black;
    text-align: left;
    padding-left: 15px;
}

.BARRepWidget .BecomeARepForm .FormButton {
    float: none;
    text-align: left;
}

.BARRepWidget .BecomeARepForm p {
    margin-bottom: 20px;
}

form#FindARepForm h2, .BecomeARepForm h2 {
    margin-bottom: 2px;
}

div#FooterRepColumn {
    padding: 0;
    /*width: 35%!important;*/
}

div#CopyrightBar {
    max-width: 100%;
}
/*Products Detail*/

.ProductDetails #ProductNameAndRating .AddToWishList {
    display: inline-block;
    margin-left: 6rem;
}

#ProductDetailContainer .ProductInformation {
    background: whitesmoke;
    padding: 3%;
    margin-bottom: 2.3rem;
}

#ProductDetails .ProductActions #Shades .ShadeSwatches .ShadeGroup ul {
    text-align: center;
}

#ProductDetailContainer .ProductDetails>div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 4%;
}

.ProductActions #Shades .ShadeDropdown .SelectionRepeat {
    text-align: center;
}

#ProductNameAndRating h1.ProductName {
    font-size: 20px;
    line-height: 29px;
    font-family: Arial,Gotham,"Helvetica Neue",Helvetica,sans-serif;
}

.ProductInformation .ProductDetails .Prices .ListPrice {
    color: #808080;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5%;
}

.ProductInformation .ProductDetails .Prices .Price {
    font-size: 25px;
    font-weight: 600;
    color: #ec008c;
    display: inline-block;
}

.ProductInformation .ProductDetails .ListPrice span:nth-child(2) {
    display: none;
}

#ProductDetailContainer #ProductDetailForm .ProductInformation .ProductDetails {
    padding-left: 3rem;
    vertical-align: middle;
}

#ProductDetails .ProductActions {
    margin-top: 0;
}

#ProductDetailContainer .ProductActions a.Button span {
    font-size: 15px;
}

.ProductActions .SelectionRepeat .Selection .select2-choice {
    border-radius: 1.4rem;
}

.bv_stars_component_container button svg {
    max-width: 15px;
}

.bv_stars_button_container svg:not(:last-child) {
    padding-right: 8px;
}

.bv_button_component_container button {
    margin-top: 25px;
}

.SelectionRepeat .Selection>a {
    background: white;
}

#ProductDetails .ProductActions .AddToCart .Quantity {
    margin: 0 auto;
}

#ProductDetails .ProductActions .AddToCart .Button {
    text-align: center;
    display: table;
    margin: 15px auto;
}

div#ProductDetailContainer #ProductDescription > div:nth-child(1) .nav a {
    background: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}

div#ProductDetailContainer #ProductDescription #reviews .bv-header .bv-action-bar h2 {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.ProductDetails #ProductDetails .Prices {
    text-align: center;
}

.product-meta-rating .bv_main_container_row_flex .bv_button_component_container button {
    color: #ec008c;
    text-decoration: underline;
    letter-spacing: 1px;
    margin-top: 1.5rem;
}

/*Fin Product Detail*/

/*Modal Product Detail*/

.Modal #ProductDetailContainer .ProductDetails #ProductNameAndRating, .Modal #ProductDetailContainer .ProductDetails #ProductDetails {
    display: block;
    width: 100%;
    text-align: center;
}

/*Reseñas*/

div#ProductDescription .tab-content .tab-pane p {
    line-height: 2.5rem;
    letter-spacing: 0.02rem;
}
/*Comentar tachado de precios*/
.ProductListModule .ProductList .ProductListItem .ProductDetails .ProductDetailsTop .Prices .ListPrice, .ProductSummary .ProductItemDetails>div .PriceStrike span {
    display: none!important;
}

/*Media query*/

@media  (max-width: 1074px) {
  div#FooterColumns>div {
    display: inline-block !important;
  }
  #container {
    width: auto !important;
  }
}

@media  (max-width: 1024px) {
  div#FooterColumns>div {
    width: 36% !important;
  }
  div#FooterColumns div#FooterRepColumn {
    width: 100% !important;
    margin-top: 19px;
    border-top: 1px solid #ec008c !important;
    padding-top: 16px !important;
  }
  div#FooterColumns div#FooterSocialMediaColumn {
    width: 25% !important;
  }
  div#FooterSocialMediaColumn > nav>a {
    margin: 0 auto !important;
  }
}

@media  (max-width: 768px) {
  #ProductDetailContainer .ProductDetails>div {
    display: block !important;
    width: 100% !important;
  }
  .Layout_Phone #ProductDetails .Prices {
    text-align: center;
  }
  #ProductDetails .ProductActions {
    margin-top: 0;
  }
  .RightColumnFAR .FormButton .Button, .Layout_Phone .BARRepWidget .Button span {
  }
  div#FooterColumns>div {
    min-height: auto !important;
  }
  footer div#SubscribePanel {    
    max-width: initial !important;
    width: initial !important;
    display: inline-block !important;
  }
  .Layout_Phone footer #SubscribeForm label {
    font-size: 1.2rem !important;
  }
  div#FooterColumns div#FooterRepColumn, div#FooterColumns {
    border: initial !important;
    padding-top: initial !important;
  }
  .RightColumnFAR .FormButton .Button {    -webkit-border-radius: 1.4rem !important;
    border-radius: 1.4rem !important;
  }
  div#ProductNameAndRating h1.ProductName {
    font-size: 1.3rem !important;
    text-align: center;
  }
  #ProductNameAndRating .product-meta-rating {
    text-align: center !important;
  }
  #ProductNameAndRating .product-meta-rating button {
    margin-top: 0 !important;
  }
  .ProductInformation .ProductDetails .Prices .Price {
    font-size: 2rem !important;
  }
}
